.image-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  img {
    grid-template-columns: auto;
  }
}

.image-wrapper-grouped {
  overflow: auto;

  img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    grid-template-columns: auto;
  }
}
